.card img{
    height: 250px;
}


.recipeCard-img{
    height: 250px !important;
    width: 100%;
}
.recipeCard{
    height: 100%;
}
textarea{
    width: 100%;
    border: solid lightgray 2px;
}
select{
    background: lightgray;
}

.background{
   background-image: url('../images/index.jpg');
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    z-index: -100;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipeInfo .col i{
    font-size: 25px;
}
.recipeInfo .col p{
    font-size: 12px;
}
.pagination-page-info{
    text-align: center;
    margin: 20px;
}

small{
    color: rgb(148, 145, 145);
    display: block;
}
.ingredient-list{
    margin: 20px;
}
#drop:hover{
    cursor: pointer;
}
#instuctions-list{
    display: none;
}
/* #ingredients-list{
    display: none;
} */
#ingredients-list li:nth-child(odd){
    background: rgba(154, 192, 206, 0.322);
}

.stars{
    display: flex;
}
.rating{
    display: flex;
    justify-content: start;
    align-items: center;
}
.rating h4{
    margin-right: 20px;
    margin-bottom: 0;
}

.show-hide{
    font-size: 1rem;
    font-style: oblique;
    color: rgb(59, 59, 59);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.error{
    color: red;
}
.card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.liked{
    color: rgb(48, 226, 48);
}
.warning-message{
    display: none;
}
.searchbar{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 90% 10%;
}
.search-btn{
    height: 100%;
    position: relative;
}
.search-btn button{
    position: absolute;
    bottom: 0;
    left: 0;
}

.searchBar{
    width: 100%;
    border: none;
    border-bottom: lightgreen 2px solid;
    margin: 0 auto;
}
.searchBar:focus{
    outline: none;
}
.like-btn{
    padding: 0;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: 1.5rem;
    max-height: 25px;
}
.message-login{
    position: absolute;
    top: 70px;
    width: 100%;
    display: block;
}
.card-home{
    background: rgba(58, 20, 5, 0.226);
    height: 10rem;
    margin: auto;
    color: white;
    border: solid 1px whitesmoke;
}

.card-text{
    height: 150px !important;
    overflow: auto;
    overflow-x: hidden !important;
}


/* Comment section */
.comment-wrapper .panel-body {
    max-height:400px;
    overflow:scroll;
    border: solid black 2px;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}
.media-list{
    padding: 0;
}
.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}


/* width */
.card-text::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .card-text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
  }
   
  /* Handle */
  .card-text::-webkit-scrollbar-thumb {
    background: rgba(53, 50, 50, 0.418); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .card-text::-webkit-scrollbar-thumb:hover {
    background: #c9c1c1a9; 
  }






/* width */
.comment-wrapper .panel-body::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  .comment-wrapper .panel-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
  }
   
  /* Handle */
  .comment-wrapper .panel-body::-webkit-scrollbar-thumb {
    background: rgb(43, 42, 42); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .comment-wrapper .panel-body::-webkit-scrollbar-thumb:hover {
    background: #444040; 
  }

  .vegan{
      height: 25px;
      width: 25px;
  }
  .shadow{
      background: rgba(163, 182, 182, 0.356);
      border-radius: 2rem;
  }