.card img{
    height: 300px;
}


.recipeCard-img{
    height: 350px !important;
    width: 100%;
}
.recipeCard{
    height: 100%;
    border: solid red 2px;
}
textarea{
    width: 100%;
}

.background{
   background-image: url('../images/index.jpg');
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    z-index: -100;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipeInfo .col i{
    font-size: 25px;
}
.recipeInfo .col p{
    font-size: 12px;
}
.pagination-page-info{
    text-align: center;
    margin: 20px;
}

small{
    color: rgb(148, 145, 145);
    display: block;
}
.ingredient-list{
    margin: 20px;
}
#drop:hover{
    cursor: pointer;
}
#instuctions-list{
    display: none;
}
/* #ingredients-list{
    display: none;
} */
#ingredients-list li:nth-child(odd){
    background: rgba(154, 192, 206, 0.322);
}

.stars{
    display: flex;
}
.rating{
    display: flex;
    justify-content: start;
    align-items: center;
}
.rating h4{
    margin-right: 20px;
    margin-bottom: 0;
}

.show-hide{
    font-size: 0.8rem;
    font-style: oblique;
    color: rgb(59, 59, 59);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.error{
    color: red;
}