.card img{
    height: 300px;
}


.recipeCard-img{
    height: 350px !important;
    width: 100%;
}
.recipeCard{
    height: 100%;
    border: solid red 2px;
}
textarea{
    width: 100%;
}

.background{
   background-image: url('../images/index.jpg');
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    z-index: -100;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipeInfo .col i{
    font-size: 25px;
}
.recipeInfo .col p{
    font-size: 12px;
}

