{% extends 'base.html' %}{% block content %}
<div class="container">
    <div class="row my-4">
        {% for recipe in recipe %}
        <div class="col-md-6 col-lg-4 my-3">
            <div class="card" style="width: 100%">
                <a href="{{url_for('recipe_info', recipe_id = recipe._id)}}">
                    <img src="{{recipe.image}}" class="card-img-top" alt="{{recipe.name}}">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase">{{recipe.name}}</h5>
                    <hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <a class="uk-button uk-button-danger"
                    href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}