{% extends 'base.html' %}{% block content %}
<div class="container">
    <div class="row recipeCard my-3">
        <div class="col-12 col-lg-6">
            <img class="recipeCard-img" src="{{recipeInfo.image}}" alt="">
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="text-center my-1 text-uppercase">{{recipeInfo.name}}</h2>
            <hr>
            <div class="row recipeInfo">
                <div class="col d-flex justify-content-center align-items-center">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <p class="m-0 pl-3 text-center">120 mins</p>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <p class="m-0 pl-3">120 mins</p>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <p class="m-0 pl-3">120 mins</p>
                </div>
            </div>
            <hr class="mt-4">
            <h3 class="text-center">Ingredients</h3>
            <hr>
            <ul class="list-group">
                {% for line in recipeInfo.ingredients.splitlines() %}

                <li class="list-group-item d-flex justify-content-between align-items-center py-2">
                    <span class="badge badge-primary badge-pill mx-3">{{loop.index}}</span>
                    <p class="mx-auto text-center my-0">{{ line }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}