{% extends 'base.html' %}{% block content %}

<div class="warning-message">
    <div class="alert alert-info text-center font-weight-bold" role="alert">
        You need to be logged in to do that
    </div>
</div>
<div class="container">
    <a href="{{url_for('get_recipes')}}" class="btn btn-info"> back</a>
    <div class="row recipeCard my-3">
        <div class="col-12 col-lg-6">
            <img class="recipeCard-img" src="{{recipeInfo.image}}" alt="">
            <div class="row">
                <h3 class="show-hide col-4 my-2">Views : {{recipeInfo.hits}}</h3>
                <h3 class="show-hide col-4 my-2">Recipe by:{{recipeInfo.userid}}</h3>
                {% if session['username'] %}
                {% if session['username'] in userlike.users %}
                <a href="{{url_for('vote', recipe_id = recipeInfo._id)}}"
                    class=" btn btn-sm btn-secondary like-btn my-2">Unlike <i class="fa fa-thumbs-o-up"></i></a>
                {% else %}
                <a href="{{url_for('vote', recipe_id = recipeInfo._id)}}"
                    class="btn btn-sm btn-primary like-btn my-2">Like
                    <i class="fa fa-thumbs-o-up"></i></a>
                {% endif %}

                {% else %}
                <a href="#" id="sign_in_like" class="btn btn-sm btn-primary">Like</a>
                {% endif %}
            </div>

            <p class="show-hide my-0">tags:</p>
            <div class="row">
                {% for tag in recipeInfo.tags.split(',') %}
                <p class=" col-2 p-0 mx-2 my-0 btn alert-{{colors[range(0, 5) | random ]}}">{{tag}}</p>
                {% endfor %}
            </div>
            <div class="row my-3">
                <div class="col text-center">
                    <p>{{recipeInfo.recipe_des}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="text-center my-1 text-uppercase">{{recipeInfo.name}}</h2>
            <hr>
            <div class="row recipeInfo">
                <div class="col d-flex justify-content-center align-items-center">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <p class="m-0 pl-3 text-center">
                        {% if recipeInfo.time %}
                        {{recipeInfo.time}} mins
                        {% else %}
                        unknown
                        {% endif %} </p>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <p class="m-0 pl-3">120 mins</p>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <i class="fa fa-thumbs-o-up {% if session['username'] in userlike.users %} liked {% else %} {% endif %}"
                        aria-hidden="true"></i>
                    <p class="m-0 pl-3">{{likes}}</p>
                </div>
            </div>
            <hr class="mt-4">

            <h3 class="text-center">Ingredients
                <div>
                    <small class="show-hide">Show / Hide</small>
                    <i class="fa fa-angle-down" id="drop" aria-hidden="true"></i>
                </div>
            </h3>

            <hr>
            <ul class="list-group" id="ingredients-list">
                {% for line in recipeInfo.ingredients.splitlines() %}
                <li class="list-group-item d-flex justify-content-between align-items-center py-2">
                    <span class="badge badge-primary badge-pill mx-3">{{loop.index}}</span>
                    <p class="mx-auto text-center my-0">{{ line }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-10 mx-auto my-4">
            <h3 class="text-center ml-3">Steps
                <div>
                    <small class="show-hide">Show / Hide</small>
                    <i class="fa fa-angle-down" id="dropit" aria-hidden="true"></i>
                </div>
            </h3>
            <hr>
            <ul class="list-group" id="instuctions-list">
                {% for line in recipeInfo.instuctions.splitlines() %}
                <li class="list-group-item d-flex justify-content-between align-items-center py-2">
                    <span class="badge badge-primary badge-pill mx-3">{{loop.index}}</span>
                    <p class="mx-auto text-center my-0">{{ line }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{url_for('static',filename='js/app.js')}}"> </script>
{% endblock %}