{% extends 'base.html' %}{% block content %}
<div class="container">
    <div class="row my-4">
        {% for recipe in recipe %}
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 100%">
                <a href="{{url_for('recipe_info', recipe_id = recipe._id)}}">
                    <img src="{{recipe.image}}" class="card-img-top" alt="{{recipe.name}}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{recipe.name}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}