{% extends 'base.html' %}{% block content %}
<div class="container">
    <div class="row recipeCard">
        <div class="col-12 col-lg-6">
            <img class="recipeCard-img" src="{{recipeInfo.image}}" alt="">
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="text-center my-1 text-uppercase">{{recipeInfo.name}}</h2>
            <hr>
            <div class="row recipeInfo">
                <div class="col">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}