{% extends 'base.html' %}
{% set active_page = "recipes" %}
{% block content %}



<div class="container">
    <form class="mt-4" action="{{url_for('filter_recipes')}}" method="POST">
        <div class="row">
            <div class="searchbar">
                <input class="searchBar" type="text" placeholder="Search" aria-label="Search" name="query" id="query">
                <div class="search-btn">
                    <button class="btn btn-primary" type="submit" name="action">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <form class="mt-3" action="{{url_for('get_recipes')}}">
        <div class="form-row">
            <div class="form-group col-12 col-md-5">
                <label for="inputState" class="my-0">State</label>
                <select id="cusine" name="cusine" class="form-control">
                    <option selected>Choose...</option>
                    {% for cusine in orgin %}
                    <option value="{{ cusine.cusine_name }}">{{ cusine.cusine_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-12 col-md-5">
                <label for="inputState" class="my-0">State</label>
                <select id="skill" name="skill" class="form-control">
                    <option selected>Choose...</option>
                    {% for skill in skill %}
                    <option value="{{ skill.skill }}">{{ skill.skill }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 col-md-2 mt-2 text-center d-flex align-items-center">
                <button class="btn btn-primary w-100" type="submit">Filter</button>
            </div>
        </div>
    </form>
    {% if  request.args.get('cusine') or request.args.get('skill') %}
    <div class="container">
        <div class="row">
            <a class="btn btn-primary col-12" href="{{url_for('get_recipes')}}">Reset</a>
        </div>
    </div>
    {% endif %}
    <div class="row my-4">
        {% for recipe in recipe %}
        <div class="col-md-6 col-lg-4 my-3 d-flex align-items-stretch">
            <div class="card" style="width: 100%;">
                <a href="{{url_for('recipe_info', recipe_id = recipe._id)}}">
                    <img src="{{recipe.image}}" class="card-img-top" alt="{{recipe.name}}">
                </a>
                <div class="card-body card_content">
                    <h5 class="card-title text-center text-uppercase">{{recipe.name}}</h5>
                    <hr class="mb-0">
                    <p class="card-text">{{recipe.recipe_des}}</p>
                    {% if recipe.userid == session['username'] %}
                    <div class="row">
                        <a class="btn btn-danger col"
                            href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete</a>
                        <a class="btn btn-info col mx-2"
                            href="{{url_for('recipe_info', recipe_id = recipe._id)}}">View</a>
                        <a class=" btn btn-primary col"
                            href="{{url_for('edit_recipe', recipe_id = recipe._id)}}">Edit</a>
                    </div>
                    {% else %}
                    <div class="row">
                        <a class="btn btn-info col mx-2"
                            href="{{url_for('recipe_info', recipe_id = recipe._id)}}">View</a>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    {{pagination.info}}
    {{ pagination.links }}
</div>
{% endblock %}